# 设置所有文本文件使用UTF-8编码
* text=auto eol=lf

# 确保特定文件类型的编码
*.js text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.wxml text eol=lf
*.wxss text eol=lf
*.css text eol=lf
*.html text eol=lf
*.vue text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sql text eol=lf
*.md text eol=lf